* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Cairo, sans-serif;
}

.collapse-brand {
    text-align: right;
}

.collapse-close {
    text-align: left !important;
}

.rtl-layout {
    direction: rtl;
    text-align: right;
}

.ltr-layout {
    direction: ltr;
    text-align: left;
}

.custom-font {
    font-family: Cairo, sans-serif;
}

.form-group input {
    text-align: right;
    padding-right: 10px !important;
}

.right-text {
    text-align: right !important;
}

.left-text {
    text-align: left !important;
}


.section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.section-divider .circle {
    width: 15px;
    height: 15px;
    background: #e0e5ec;
    border-radius: 50%;
    box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
}


.image-width {
    width: 70% !important;
}

.form-group input {
    direction: rtl;
    text-align: right;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.table-row {
    cursor: pointer;
}

.gap-btwn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn-add,
.btn-up,
.btn-filtter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 25px;
}

.btn-filtter,
.btn-up {
    bottom: 80px;
}


.library-btn-up {
    bottom: 140px;
}

.preserve-formatting {
    white-space: pre-wrap; 
}

.posts-container  {
    display: flex;
    flex-direction: column-reverse;
}

.main-container {
    height: calc(100vh - 100px) !important;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contact-area {
    height: 100%;
    width: 30%;
    overflow: auto;
}

.list-contant {
    border-bottom: 1px solid #ccc;    
    border-radius: 10px;
}

.chat-area {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.header-chat {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
    margin: 0;
}

.body-chat {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.footer-chat {
    position: sticky;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    padding: 10px;
}

.footer-chat .form-group {
    margin: auto;
    width: 100%;
}

.back-chat {
    font-size: 30px;
    display: none;
}

.media-icon {
    font-size: 20px;
}

.bg-chat {
    background-color: #828282 !important;
}

.contact-menu-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-img {
    width: 250px;
    height: 250px;
}

.book-card {
    height: 500px;
}

.book-type {
    width: 100%;
    height: 200px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card .card-body {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library-container {
    flex-wrap: wrap;
    width: 100%;
}

.book-search {
    width: 50%;
}

.overflow-auto {
    overflow: auto !important;
}

.notification {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
}


.btn-function {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.btn-function button {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

@media (max-width: 480px) {
    .section-divider .circle {
        width: 8px;
        height: 8px;
    }

    .btn-add,
    .btn-up,
    .btn-filtter,
    .btn-function button  {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    
    .book-search {
        width: 90%;
    }

}

@media (max-width: 768px) {
    .section-divider .circle {
        width: 10px;
        height: 10px;
    }
}


@media (max-width: 992px) {

    
    .main-container {
        flex-direction: column;
    }
    
    .contact-area {
        width: 100%;
        height: 100%;
    }
    
    .chat-area {
        width: 100%;
        height: 100%;
        display: none;
    }
    
    .back-chat {
        display: block;
    }

    .contact-section {
        flex-direction: column-reverse;
    }
}